

<br/><br/>
<div class="columns">
  <div class="column is-half">
    <div class="level">
      <div class="level-item has-text-centred">
        <%= form_for @poem do |f| %>


        <div class="field is-horizontal control has-icons-right">
          <%= f.label :title, class:'field-label' %>
          <%= f.text_field :title, placeholder: "Title", class:'field-body input is-warning is-large is-rounded', required: true %>
          <span class="icon is-small is-right">
          <i class="fas fa-pen-fancy"></i>
          </span>
        </div>

        <div class="field is-horizontal control has-icons-right">
            <%= f.label :line_1, class:'field-label' %>
            <%= f.text_field :line_1, placeholder: "Five Syllables", class:'field-body input is-info', required: true %>
            <span class="icon is-small is-right">
            <i class="fas fa-pen-fancy"></i>
            </span>
        </div>


        <div class="field is-horizontal control has-icons-right">
            <%= f.label :line_2, class:'field-label'  %>
            <%= f.text_field :line_2, placeholder: "Seven Syllables", class:'field-body input is-danger', required: true %>
            <span class="icon is-small is-right">
            <i class="fas fa-pen-fancy"></i>
            </span>
        </div>

        <div class="field is-horizontal control has-icons-right">
          <%= f.label :line_3, class:'field-label'  %>
          <%= f.text_field :line_3, placeholder: "Five Syllables", class:'field-body input is-primary', required: true %>
          <span class="icon is-small is-right">
          <i class="fas fa-pen-fancy"></i>
          </span>
        </div>


        <div class="field control select is-horizontal is-info">
          <%= f.label :genre, class:'field-label'  %>
          <%= f.collection_select :genre_id, @genres, :id, :name, class:'field-body is-normal' %>
        </div>

        <div class="field control select is-horizontal is-danger">
          <%= f.label :mood, class:'field-label'  %>
          <%= f.collection_select :mood_id, @moods, :id, :name, class:'field-body is-normal' %>
        </div>

        <div>

          <%= f.hidden_field :user_id, value: "#{current_user_id}" %>

          <%= f.submit %>
          <% end %>

          <br>
          <br>

          <%= button_to "Delete this Poem", @poem, :method => :delete, data: {confirm:"Are You Sure?!"} %>

        </div>

        </div>
      </div>
    </div>
  <div class="column is-half">
    <div class="level">
      <div class="level-item has-text-centred">
        <% if !!@word_errors %>
            <%= form_tag :words do %>
            <div class="field">
                  <label class="label"><%= label_tag :title, "Add unknown syllables", class:'title is-4' %></<label>
                </div>
              <% @word_errors.each do |word| %>
                <div class="field">
                  <label class="label"><%= label_tag "#{word} - syllables:" %></<label>
                  <%= number_field_tag :"words[#{word}]", nil, in: 1..19 %>
                </div>
              <% end %>
              <%= hidden_field_tag :'poem[title]', "#{@poem.title}" %>
              <%= hidden_field_tag :'poem[line_1]', "#{@poem.line_1}" %>
              <%= hidden_field_tag :'poem[line_2]', "#{@poem.line_2}" %>
              <%= hidden_field_tag :'poem[line_3]', "#{@poem.line_3}" %>
              <%= hidden_field_tag :'poem[genre_id]', "#{@poem.genre_id}" %>
              <%= hidden_field_tag :'poem[mood_id]', "#{@poem.genre_id}" %>
              <%= hidden_field_tag :'poem[user_id]', "#{current_user_id}" %>
              <%= submit_tag "Add syllables"%>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
