<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        All Poems
      </h1>
    </div>
  </div>
</section>
<br/>
<%= form_tag( '/poems', :method => :get ) do %>
  <p class='subtitle' >Filter Haiku</p>
  <div class="field">
      <div class="control is-expanded">
        <div class="select">
          <%= collection_select :filter, :genre_id, @genres, :id, :name, prompt:'Select Genre', :selected => @filter_genre_id %>
        </div>
    </div>
  </div>
  <div class="field">
    <div class="control is-expanded">
      <div class="select">
        <%= collection_select :filter, :mood_id, @moods, :id, :name, prompt:'Select Mood', :selected => @filter_mood_id %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= submit_tag "Filter Haiku", class:'button is-link' %>
    </div>
  </div>
<% end %>

<%= render 'poems/each_poem' %>