<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        All Poems
      </h1>
    </div>
  </div>
</section>
<br/>
<%= form_tag( '/poems', :method => :get ) do %>
  <p class='subtitle' >Filter Haiku</p>
  <div class="field">
      <div class="control is-expanded">
        <div class="select">
          <%= select_tag :genre_id, options_from_collection_for_select(@genres, :id, :name, params[:genre_id]), prompt:'Select Genre' %>
        </div>
    </div>
  </div>
  <div class="field">
    <div class="control is-expanded">
      <div class="select">
        <%= select_tag :mood_id, options_from_collection_for_select(@moods, :id, :name, params[:mood_id]), prompt:'Select Mood' %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= submit_tag "Filter Haiku", class:'button is-link' %>
    </div>
  </div>
<% end %>

<%= render 'poems/each_poem' %>