<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        New Poem
      </h1>
    </div>
  </div>
</section>


<%= form_for @poem do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <br>


  <%= f.label :line_1 %>
  <%= f.text_field :line_1, placeholder: "Must contain seven syllables" %><br>

  <%= f.label :line_2 %>
  <%= f.text_field :line_2, placeholder: "Must contain five syllables" %><br>

  <%= f.label :line_3 %>
  <%= f.text_field :line_3, placeholder: "Must contain five syllables" %><br>

  <%= f.collection_select :genre_id, @genres, :id, :name %><br>

  <%= f.collection_select :mood_id, @moods, :id, :name %><br>

  <%= f.submit %>
  
<% end %>
