<h1>New Poem</h1>

<%= form_for @poem do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :line_1 %>
  <%= f.text_field :line_1 %>
  <%= f.label :line_2 %>
  <%= f.text_field :line_2 %>
  <%= f.label :line_3 %>
  <%= f.text_field :line_3 %>
  <%= f.collection_select :genre_id, @genres, :id, :name %>
  <%= f.collection_select :mood_id, @moods, :id, :name %>
  <%= f.submit %>
<% end %>