
<br>
<br>

<section class="hero is-success is-medium">
  <div class="hero-body">
    <div class="container">

      <h1 class="title has-text-centered">
        A Haiku just for you!
      </h1>

      <br>
      <br>
      <h2 class="subtitle has-text-centered">
        <%=link_to @poem1.line_1, @poem1 %> <br>
        <%=link_to @poem2.line_2, @poem2 %> <br>
        <%=link_to @poem3.line_3, @poem3 %>
      </h2>

      <br>

      <h2 class="subtitle has-text-centered">
        <p> by <%=link_to @poem1.author.first_name, @poem1.author %>, <%=link_to @poem2.author.first_name, @poem2.author %> and <%=link_to @poem3.author.first_name, @poem3.author %> </p>
      </h2>





    </div>
  </div>
</section>

<br>
<br>
