<section class="hero is-primary is-bold">
  <div class="hero-body">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title">
            <%= @poem.title %>
          </h1>
        </div>
      </div>
      <div class="level-right">
        <p class="level-item">
          <% if @poem.user_id == current_user_id %>
            <%= link_to "#{@poem.likes_count} Likes", @poem,  class:'button has-text-centered' %>
          <% elsif @poem.liked_by_session_user?(current_user_id) %>
            <%= form_for @poem.user_like(current_user_id), method: :delete do %>
              <%= submit_tag "Liked", class:'button is-primary' %>
            <% end %>
          <% else %>
            <%= form_for @like do |f| %>
              <%= f.hidden_field :user_id, value: "#{current_user_id}" %>
              <%= f.hidden_field :poem_id, value: "#{@poem.id}" %>
              <%= f.submit "Like", class:'button' %>
            <% end %>
          <% end %>
        </p>
        <p class="level-item">
        <% if @poem.user_id == current_user_id %>
          <%= link_to "#{@poem.bookmarks_count} Saves", @poem,  class:'button has-text-centered' %>
        <% elsif @poem.saved_by_session_user?(current_user_id) %>
          <%= form_for @poem.user_bookmark(current_user_id), method: :delete do %>
            <%= submit_tag "Saved", class:'button is-primary' %>
          <% end %>
        <% else %>
          <%= form_for @bookmark do |f| %>
            <%= f.hidden_field :user_id, value: "#{current_user_id}" %>
            <%= f.hidden_field :poem_id, value: "#{@poem.id}" %>
            <%= f.submit "Save", class:'button' %>
          <% end %>
        <% end %>
        </p>
      </div>
    </nav>
  </div>
</section>

<br>

<div class="columns" >
  <div class="column is-two-fifths">
    <div class="tile is-ancestor">
      <div class="tile is-12 is-vertical is-parent">
        <div class="tile is-child notification is-warning">
          <p>
            <p><%= @poem.line_1 %><p>
            <p><%= @poem.line_2 %><p>
            <p><%= @poem.line_3 %><p>
        </div>
        <div class="tile is-child notification is-danger">
          <p>by <%= link_to @poem.author.full_name, @poem.author %></p>
          <p>a <%= link_to @poem.genre.name, @poem.genre %> haiku for a
          <%= link_to @poem.mood.name, @poem.mood %> mood</p>
        </div>
        <div class="tile is-child ">
          <% if !!@comments %>
            <%= render 'poems/comments' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="tile is-parent">
      <div class="tile is-child box">
        <p class="title">Other Poems from this Author</p>
          <%= render 'poems/each_poem' %>
      </div>
    </div>
  </div>
</div>