<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @poem.title %>
      </h1>
    </div>
  </div>
</section>


<p><%= @poem.content %><p>

<p>by <%= link_to @poem.user.full_name, @poem.user %>

<%= link_to @poem.genre.name, @poem.genre %>
<%= link_to @poem.mood.name, @poem.mood %>
