<h1><%= @poem.title %></h1>

<p><%= @poem.line_1 %><p>
<p><%= @poem.line_2 %><p>
<p><%= @poem.line_3 %><p>

<br/>
<p>by <%= link_to @poem.author.full_name, @poem.author %>
<p>a <%= link_to @poem.genre.name, @poem.genre %> haiku for a
<%= link_to @poem.mood.name, @poem.mood %> mood</p>

