

<%= form_tag login_path do %>
  <div>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
  </div>
  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <%= submit_tag "Log In" %>

  <br>
  <br>

  <p>Not registered? Sign up <%= link_to "here", signup_path%></p>
<% end %>
