
<br/>
<div class="columns">
  <%= form_tag login_path do %>
    <div class="column">
      <div class="field">
        <%= label_tag :username, nil, class:'label' %>
        <div class="control">
          <%= text_field_tag :username, nil, class:'input' %>
        </div>
      </div>
      <div class="field">
        <%= label_tag :password, nil, class:'label' %>
        <div class="control">
        <%= password_field_tag :password, nil, class:'input' %>
      </div>
      <br/>
      <div class="field">
        <div class="control">
          <%= submit_tag "Log In", class:"button is-link" %>
        </div>
      </div>
    </div>
  </div>
</div>

  <br>
  <br>

  <p>Not registered? Sign up <%= link_to "here", signup_path%></p>
<% end %>
