<br />
<% @poems.each do |poem| %>
<div class = 'columns' >
        <div class = 'column is-2' >
        </div>
        <div class = 'column is-7' >
  <p class='subtitle'>Your <%= poem.user_comments(current_user_id).count > 1 ? 'comments' : 'comment'%> on <%= link_to poem.title, poem %> by <%= link_to poem.author.full_name, poem.author %></p>
  </div>
  </div>
    <% poem.user_comments(current_user_id).each do |comment| %>
      <div class = 'columns' >
        <div class = 'column is-2' >
        </div>
        <div class = 'column is-2' >
          On <%= comment.updated_date %>: 
        </div>
        <div class = 'column is-5' >
          <%= comment.content %>
        </div>
      </div>
    <% end %>
    <hr />
<% end %>