
<br>

<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-danger">
          <p class="title"><%=@user.first_name %> <%= @user.last_name %></p>
          <p> <%= @user.motto %> </p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title is-4">All Poems by this Author</p>

          <% @user.poems.each do |poem| %>
          <p> <%= link_to poem.title, poem %> for a <%=link_to poem.mood.name, poem.mood %> mood, liked by <%= poem.likes_count %> other users!<br></p>
          <% end %>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Bio</p>
          <p><%= @user.bio %></p>
        </article>
      </div>
    </div>
  </div>
</div>
