
<br>

<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-success">
          <p class="title"><%=@user.first_name %> <%= @user.last_name %></p>
          <p> <%= @user.motto %> </p>

          <br>

          <p class="control">
          <% if @user.id == current_user_id %>
            <%= link_to "Edit Your Profile", edit_user_path(@user), class:'button has-text-centered is-small' %>

          <% end %>
          </p>

        </article>
        <article class="tile is-child notification is-primary">
          <p class="title is-4">Other Poems by this Author</p>

          <% if @user.poems.empty? %>

          <%= link_to "No Haikus yet! Write your first!", new_poem_path %>

          <% else %>

          
          <% @poems.each do |poem| %>
          <p> <%= link_to poem.title, poem %> for a <%=link_to poem.mood.name, poem.mood %> mood<br></p>
          <% end %>
          <br>
          <div class='control is-pulled-left'>
            <%= paginate @poems %>
          </div>

          <br>
          <br>

          <%= link_to "Write a new Haiku!", new_poem_path %>
          <% end %>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Bio</p>
          <p><%= @user.bio %></p>
        </article>
      </div>
    </div>
  </div>
</div>
