<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Hi!Ku</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
      <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body>
    <% if logged_in? %>
      <%= link_to "All Users", users_path %>
      <%= link_to "New User", new_user_path %>
      <%= link_to "All Poems", poems_path %>
      <%= link_to "New Poem", new_poem_path %>
      <%= link_to "All Genres", genres_path %>
      <%= link_to "All Moods", moods_path %>
      <%= link_to "Log Out", logout_path %>
    <% end %>

    <div style="color:red">
    <% if !flash[:notices].nil? %>
      <% flash[:notices].each do |notice| %>
        <p><%= notice %></p>
      <% end %>
    <% end %>
    </div>

    <div style="color:red">
    <% if !flash.now[:errors].nil? %>
      <% flash.now[:errors].each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
    </div>

    <div style="color:red">
    <% if !flash[:errors].nil? %>
      <% flash[:errors].each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
