<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Hi!Ku</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">

  </head>

<body>

<% if logged_in? %>
<section class="section">
<div class="container">
  <nav class="navbar is-transparent is-fixed-top">

  <div class="navbar-brand">
    <a class="navbar-item" href="/home">
      <%= image_tag "hiku_logo.png", width:"112", height:"28" %>
    </a>
  </div>
  <div id="navMenuBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item is-hoverable">
          <%= link_to "Home", home_path, class:"navbar-item" %>
        </div>
      </div>
      <div class="navbar-item">
        <a class="button is-medium is-success" href="<%= random_haiku_path %>"><span>Random</span></a>
      </div>
      </div>

    <div id="navMenuTransparentExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable" >
            <a class="navbar-link is-active" href="">
              Haiku
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="<%= new_poem_path %>">
                Write New Haiku
              </a>
              <a class="navbar-item" href="<%= poems_path %>">
                Browse Haiku
              </a>
              <a class="navbar-item" href="<%= poems_search_path %>">
                Search Haiku
              </a>
              <a class="navbar-item" href="<%= haiku_history_path %>">
                Haiku History
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-active" href="">
              User
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="<%= my_haiku_path %>">
              My Haiku
              </a>
              <a class="navbar-item" href="<%= my_saved_haiku_path %>">
              My Saved Haiku
              </a>
              <a class="navbar-item" href="<%= my_liked_haiku_path %>">
              My Liked Haiku
              </a>
              <a class="navbar-item" href="<%= my_comments_path %>">
              My Comments
              </a>
              <a class="navbar-item" href="<%= profile_path %>">
              Profile
              </a>
              <a class="navbar-item" href="<%= logout_path %>">
              Sign out
              </a>
            </div>
          </div>
          <div class="navbar-item">
            <a class="button is-medium is-warning" href="<%= logout_path %>"><span>Logout</span></a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  </section>
<% end %>

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @page_title %>
      </h1>
    </div>
  </div>
</section>

<div style="color:red" text="has-text-centred">
<% if !flash[:notices].nil? %>
  <% flash[:notices].each do |notice| %>
    <p><%= notice %></p>
  <% end %>
<% end %>
</div>

<div style="color:red" text="has-text-centred">
<% if !flash[:errors].nil? %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>
</div>


    <div class="container">

      <%= yield %>
    </div>

    <br>

<footer class="footer">
      <div class="content has-text-centered">
        <p><strong>Hi!ku</strong> Poetry for the people</p>
    </div>
</footer>
  </body>
</html>
