<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Hi!Ku</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">

  </head>

<body>

<% if logged_in? %>
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href=""></a>

    <a class="navbar-item is-hidden-desktop" href="" target="">
      <span class="icon" style="color: #333;">
        <i class="fa fa-lg fa-github"></i>
      </span>
    </a>

    <a class="navbar-item is-hidden-desktop" href="" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-lg fa-twitter"></i>
      </span>
    </a>

    <div class="navbar-burger burger" data-target="navMenuTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link  is-active" href=<%= home_path %>>
            Home
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item " href="<%= users_path %>">
              All Users
            </a>
            <a class="navbar-item " href="<%= new_user_path %>">
              New Users
            </a>
          </div>
        </div>
      </div>
    </div>

    <div id="navMenuTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link  is-active" href="">
              Haiku
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item " href="<%= poems_path %>">
                Browse Haiku
              </a>
              <a class="navbar-item " href="<%= poems_path %>">
                Search Haiku
              </a>
              <a class="navbar-item " href="<%= new_poem_path %>">
                Write New Haiku
              </a>
            </div>
          </div>
        </div>
      </div>

      <div id="navMenuTransparentExample" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link  is-active" href="">
                  Genres
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item " href="<%= genres_path %>">
                  All Genres
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="navMenuTransparentExample" class="navbar-menu">
          <div class="navbar-start">
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link  is-active" href="">
                  Moods
                </a>
                <div class="navbar-dropdown is-boxed">
                  <a class="navbar-item " href="<%= moods_path %>">
                  All Moods
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div id="navMenuTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link  is-active" href="">
                User
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item " href="<%= logout_path %>">
                New Haiku
                </a>
                <a class="navbar-item " href="<%= logout_path %>">
                My Haiku
                </a>
                <a class="navbar-item " href="<%= logout_path %>">
                Liked Haiku
                </a>
                <a class="navbar-item " href="<%= logout_path %>">
                Profile
                </a>
                <a class="navbar-item " href="<%= logout_path %>">
                Sign out
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <% end %>



    <div style="color:red">
    <% if !flash.now[:errors].nil? %>
      <% flash.now[:errors].each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
    </div>

    <div style="color:red">
    <% if !flash[:notices].nil? %>
      <% flash[:notices].each do |notice| %>
        <p><%= notice %></p>
      <% end %>
    <% end %>
    </div>

    <div style="color:red">
    <% if !flash[:errors].nil? %>
      <% flash[:errors].each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
