<!DOCTYPE html>
<html>
  <head>
    <title>HiKu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "All Users", users_path %>
    <%= link_to "New User", new_user_path %>
    <%= link_to "All Poems", poems_path %>
    <%= link_to "New Poem", new_poem_path %>
    <%= link_to "All Genres", genres_path %>
    <%= link_to "All Moods", moods_path %>

    <div style="color:red">
    <% if !flash.now[:errors].nil? %>
      <% flash.now[:errors].each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
    </div>

    <%= yield %>
  </body>
</html>
